*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//intialize body, html
html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
//initialize game board
.gameboard{
    //initalize grid
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 45%;
    height: 90%;
}
//tile properties
.tile{    
    transition: ease-out 0.3s;
    &:hover{
        cursor: pointer;
        background-color: #80808080;
    }
}


//handle columns grid styling
.tile{
    &:nth-of-type(3n-1){
        border-left: solid black 10px;
        border-right: solid black 10px;
    }
    
}

//handle row grid styling
.tile{
    border-bottom: solid black 10px;

    //remove styling from last track
    &:nth-of-type(n+7){
        border-bottom: none;
    }
    
}